body{
    background-image: url("../Fotos/pexels-frank-cone-140140-3607542.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
}

.bloco{
    background-color: lightsteelblue;
    margin: auto;
    border-radius: 50px;
}

.titulo{
    width: 800px;
    height: 150px;
    margin-top: 60px;
    margin-bottom: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: blueviolet;
    font-size: 60px;
    font-style: oblique;
}

.exercicio{
    width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;

    display: flex;
    flex-direction: column;
}

.subtitulo{
    color: blueviolet;
    font-size: 30px;
    font-style: italic;
    margin: unset;
}

.um{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 250px;
    border-radius: 50px;
    background-color: #47b3d376;

    grid-area: 1/1/2/2;
}

label{
    font-style: italic;
    margin-left: 10px;
}

input{
    width: 200px;
    border: unset;
    border-radius: 50px;
    margin: 10px;
}

.done{
    width: auto;
    margin-top: 10px;
}

.answer{
    font-size: 30px;
    font-style: italic;
    margin: unset;
    width: 300px;
    text-align: center;
}



